/*
Error: Invalid CSS after "}": expected selector or at-rule, was "{% assign host ..."
        on line 15 of emoji.scss

10:   background-size: contain;
11:   display: inline-block;
12:   vertical-align: middle;
13: }
14: 
15: {% assign host = 'https://twemoji.maxcdn.com' %}
16: {% for emo in site.data.emoji %}
17:   {% assign names = emo.name | split: ',' | concat: emo.alt_names | join: ', .em-' %}
18:   .em-{{ names }} {
19:     background-image: url('https://twemoji.maxcdn.com/2/72x72/{{ emo.file }}.png');
20: 

Backtrace:
emoji.scss:15
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/bin/sass:23:in `load'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/bin/sass:23:in `<main>'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/B1ackK3yz/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected selector or at-rule, was \"{% assign host ...\"\A         on line 15 of emoji.scss\A \A 10:   background-size: contain;\A 11:   display: inline-block;\A 12:   vertical-align: middle;\A 13: }\A 14: \A 15: {% assign host = 'https://twemoji.maxcdn.com' %}\A 16: {% for emo in site.data.emoji %}\A 17:   {% assign names = emo.name | split: ',' | concat: emo.alt_names | join: ', .em-' %}\A 18:   .em-{{ names }} {\A 19:     background-image: url('https://twemoji.maxcdn.com/2/72x72/{{ emo.file }}.png');\A 20: "; }
